.App {
  min-height: 100vh;
  text-align: center;
  background-image: url("https://thumbs.dreamstime.com/b/hot-drinks-cocktails-seamless-pattern-hand-drawn-doodle-beverages-background-your-design-64256450.jpg");
}
